.cardContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.cardContainer p {
    text-align: left;
}

.userIcon, .videoIcon, .likeIcon {
    font-size: 35px;
    color: #2ec4b6;
}

@media only screen and (max-width: 600px) {
    .cardContainer {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .cards {
        margin: auto;
    }

  }